version: "3.1"

services:
  dot:
    build: .
    container_name: dot
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    networks:
      - app

  db:
    image: mysql:5.7
    container_name: db
    restart: always
    volumes:
      - "./.docker/dbdata:/var/lib/mysql"
    environment:
      MYSQL_ROOT_PASSWORD: A_1234567
      MYSQL_DATABASE: dotproject
    networks:
      - app

  phpmyadmin:
    image: phpmyadmin
    container_name: myadmin
    restart: always
    ports:
      - 8088:80
    networks:
      - app

  mailhog:
    image: mailhog/mailhog:latest
    container_name: dot-mailhog
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI
    networks:
      - app
    restart: unless-stopped

networks:
  app:
    driver: bridge
